.pale{
    background-color: burlywood;
}
.green{
    background-color: green;
}
.pink{
    background-color: deeppink;
}
.yellow{
    background-color: yellow;
}
.main-box{
    padding: 10px;
    width: 100%;
    height: 100%;
}
.block{
    width: 33.3333333%;
}
.size-1{
    height: 20em;
}
.size-2{
    height: 10em;
}
.size-3{
    height: 6.666666666em;
}
.size-4{
    height: 5em;
}
.fdg{
    width: 50%;
}