* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    background-color: #f9f9f9;
    filter: drop-shadow(0px 5px 2.5px rgba(0,0,0,0.3));
}
.container{
    max-width: 1060px;
    height: 100%;
    margin: auto;
    background-color: white;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
}
.main-header{
    padding-top: 50px;
}
.logo {
    margin-bottom: 40px;
}
.top-menu{
    background-color: #4d4d4d;
    color: white;
    height: 40px;
    display: flex;
}
.top-menu li{
    margin-right: 15px;
    height: 100%;
    width: 90px;
    font-size: 15px;
    font-weight: 400;
    line-height: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-menu li:hover{
    background-color: black;
    border: #c8c8c8 1px solid;
}
.main-box {
    max-width: 1060px;
    padding-top: 40px;
    display: flex;
    flex-grow: 1;
    overflow-y: auto;
}
aside{
    width: 240px;
    height: 240px;
    margin-right: 50px;
}
li{
    list-style: none;
}
aside li{
    font-size: 13px;
    line-height: 37px;
    color: #656363;
    font-weight: 400;
    padding-left: 25px;
    background-color: #ffffff;
    border: 1px solid #c8c8c8;
}
aside li:hover{
    padding-left: 35px;
    background-color: #f9f9f9;
}
.content{
    width: calc( 100% - 295px);
    margin-bottom: 40px;
}

.main-photo{
    width: calc(100% - 80px);
    padding: 40px;
    background-color: #ffffff;
    border: 1px solid #c8c8c8;
    margin-bottom: 40px;
}

.bike-picture{
    width: 100%;
}
.main-info{
    font-size: 13px;
    line-height: 21px;
    color: #2c2c2c;
    font-weight: 400;
    padding-left: 25px;
    padding-right: 35px;
}
.main-footer{
   padding-bottom: 50px;
}
.bottom-menu{
    background-color: lightgrey;
    text-align: left;
    height: 40px;
    padding-left: 25px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.bottom-menu li{
    padding-right: 125px;
    font-size: 15px;
    font-weight: 400;
    line-height: 29px;
}
.special-sign {
    float: right;
    margin-top: -27px;
    margin-right: 20px;
}
