* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    padding: 0 150px;
    background-color: #f9f9f9;
    filter: drop-shadow(0px 5px 2.5px rgba(0,0,0,0.3));
}
.container{
    background-color: white;
    padding: 60px;
}

/*header {*/
/*    padding: 50px;*/
/*}*/
/*.logo {*/
/*     height: 45px;*/
/*!*.main-box {*!*/
/*!*    max-width: 1060px;*!*/
/*!*    height: calc(100% - 2px);*!*/
/*!*    border: 1px solid gainsboro;*!*/
/*!*    margin-left: auto;*!*/
/*!*    margin-right: auto;*!*/
/*!*    padding: 0px 48px 0px 46px;*!*/
/*!*}*!*/


/*}background-color: #505050;*/


/*.navigation {*/

/*    color: white;*/
/*    list-style-type: none;*/
/*    display: inline-flex;*/
/*    width: 90px;*/
/*    margin: 0;*/
/*    padding: 8px;*/
/*}*/

/*.content {*/
/*    display: inline-block;*/
/*    width: 65%;*/
/*    float: left;*/
/*}*/

/*.clearfix {*/
/*    clear: both;*/
/*}*/

/*.main-photo {*/
/*    height: 200px;*/
/*    width: 180px;*/
/*}*/

/*.main-photo img {*/
/*    height: 100%;*/
/*    padding: 0 150px;*/
/*}*/
/*p{*/
/*    padding: 5px 15px;*/
/*}*/

/*aside {*/
/*    height: 240px;*/
/*    width: 250px;*/
/*    display: inline-block;*/
/*    float: left;*/
/*}*/

/*.sidebar {*/
/*    border: 1px solid black;*/
/*    list-style-type: none;*/
/*}*/

/*footer {*/
/*    background-color: #4d4242;*/
/*    color: #353535;*/
/*    margin: 10 px;*/
/*}*/
/*.bottom-navigation{*/
/*    color: white;*/
/*    list-style-type: none;*/
/*    display: inline-flex;*/
/*    width: 90px;*/
/*    margin: 0;*/
/*    padding: 8px;*/
/*}*/
/*.privacy{*/
/*    width: 200px;*/
/*    float: right;*/
/*}*/