.main-box{
    background-color: aqua;
    padding: 2em;
    border: greenyellow 1px solid;
}
.row,
.col-4,
.col-8 {
    height: 20em;
}

.row {
    width: 100%;
}

.pale {
    background-color: beige;
}

.green {
    background-color: green;
}

.pink {
    background-color: indianred;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.col-4 {
    display: inline-block;
    width: 33%;
}

.col-8 {
    display: inline-block;
    width: 66%;
}
.row-3{
    height: calc(20em / 4);
}
.row-4{
    height: calc(20em / 3);
}
.row-6{
    height: calc(20em / 2);
}